@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");


@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/profilecard.css");
@import url("components/card.css");


body {
	font-family: 'Alata', sans-serif;
	font-size: 15px;
}

h1, h2, h3 {
	font-family:'Alata', sans-serif;
	font-weight: bold ;
}

h4{
		position: absolute;
	width: 58px;
	height: 22px;
	left: 136px;
	top: 73px;

	font-family: 'Alata';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;

	color: #FFFFFF;
}


a {
	text-decoration: none;
}



















